Repository taroj1205/check-changes: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "*.{js,ts,json,yml,yaml,md}"
      run: bun run format
    lint:
      glob: "*.{js,ts}"
      run: bun run lint
    test:
      run: bun test

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit $1

pre-push:
  commands:
    test:
      run: bun test
    check:
      run: bun run check

chore: update dependencies and gh action
  .github/workflows/release.yml
  bun.lock
  package.json
Due: format

chore: update gh actions workflow permission
  .github/workflows/release.yml
Due: format

chore: remove changelog file
  CHANGELOG.md
Due: format

chore(lefthook): update lefthook lint command
  lefthook.yml
Due: format

fix(action): export outputs for github
  action.yml
Due: format

chore(release): update release workflow to automatically sync tags
  .github/workflows/release.yml
Due: format

feat(optin-github-summary): add a opt-in gh actions job summary
  action.yml
  check-changes.sh
  test/check-changes.test.ts
Due: format, lint

chore(release): add checkout step to release workflow
  .github/workflows/release.yml
Due: format

ci(test): improve test and check-changes
  CHANGELOG.md
  check-changes.sh
Due: format

ci(test): improve test and check-changes (#5)
  CHANGELOG.md
  check-changes.sh
Due: format

chore(changelog): update changelog
  CHANGELOG.md
Due: format

feat(summary): improve gh action change summary formatting
  check-changes.sh
  test/check-changes.test.ts
Due: format, lint

feat(summary): improve gh action change summary formatting (#6)
  check-changes.sh
  test/check-changes.test.ts
Due: format, lint

fix(check-changes): remove extra line at the end
  check-changes.sh
Due: none

chore(lefthook): update lefthook to remove pre-push action
  lefthook.yml
Due: format

fix(check-changes): remove extra line at the end (#8)
  check-changes.sh
  lefthook.yml
Due: format

feat(summary,exclude): display excluded files in summary
  check-changes.sh
  test/check-changes.test.ts
Due: format, lint

feat(summary): sort excluded files in output
  .github/workflows/test.yml
  check-changes.sh
Due: format

feat(check-changes): enhance file inclusion/exclusion logic
  .github/workflows/test.yml
Due: format

fix(test): update output reference for changed files in workflow
  .github/workflows/test.yml
Due: format

feat(summary,exclude): display excluded files in summary (#10)
  .github/workflows/test.yml
  check-changes.sh
  test/check-changes.test.ts
Due: format, lint
